<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}

        <p style="margin: 4.8rem 0 1.8rem">
            This site was created by Ioana M, using mapbox and weatherstack.
        </p>

        <img src="/img/pic.jpg" />

        <div class="layover"></div>

        {{>footer}}
    </body>
</html>